body {
    padding-top: 50px;
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}

.profit-buttons .btn {
    margin-right: 5px;
}

.custom-submit-button {
    background-color: #1f2f3d;
    border-color: #1f2f3d;
    font-size: 1.25rem; /* Yazı boyutunu büyüt */
}

.custom-submit-button:hover {
    background-color: #ff7f50;
    border-color: #ff7f50;
}

.text-primary {
    color: #007bff;
}
